extends layout
block content
	.actor_grid
		if relatedArticles.length > 0
			.actor_articles.AreaB
				.actor_articles__title Articles
				each article,index in relatedArticles
					.actor_articles__item
						.AreaA.actor_articles__item_image
							if article.thumbImage
								img(src=article.thumbImage)
							else
								img(src="https://via.placeholder.com/255x255")
						.AreaB.actor_articles__item_details
							.AreaB
								a(href=article.publicUrl)
									h2=article.title
							.AreaC
								p=article.shortDescription
					
		.actor_box.AreaA
			.actor_box__image(style="background:linear-gradient(rgba(154, 162, 54, 0.5), rgba(154, 162, 54, 0.1)), url(/res/crocbauges/crocbauges1.jpg)")
			.actor_box__details
				.actor_box_logo.AreaA
					if item.logoImage
						img(src=item.logoImage)
				.actor_box_details_1.AreaB
					h2=item.name
					h5 Activité
					p=item.activity
				.actor_box_details_2.AreaC
					h5 Description
					p=item.description
					h5 Lieu
					p.item.address.formatted
		.actors_related.AreaC
			h2="Plus d'acteurs dans la categorie de "+categoryTitle[item.type]
			each related,index in relatedActors
				.related_actor__item
							.AreaA.actor_articles__item_image
								if related.logoImage
									img(src=related.logoImage)
								else
									img(src="https://via.placeholder.com/255x255")
							.AreaB.actor_articles__item_details
								.AreaB
									a(href=related.publicUrl)
										h2=related.name
								.AreaC
									p=related.description