extends layout
block content
	.blog_article
			h1.article__title.fontArticleTitle=item.title
			div.fontArticleText!=item.html
			p.article_thumb__author.AreaC.fontArticleAuthor
						span="écrit par "
						span=item.author
						span=" le jour "
						span=item.created_at