extends layout
block content
	.blog_articles
		each item,index in items
			a.article_thumb(href=item.publicUrl)
				-
					var thumbImage = item.thumbImage || "https://via.placeholder.com/100x100"
				img.article_thumb__image.AreaA(src=thumbImage)
				.article_thumb__text.AreaB
					h3.AreaA.fontArticleTitle=item.title
					p.AreaB.fontArticleText=item.shortDescription
					p.article_thumb__author.AreaC.fontArticleAuthor
						span="écrit par "
						span=item.author
						span=" le jour "
						span=item.created_at