header.grid_header
	a.header_title.Area__brand.fontBrand(href="/")
			| !{pages.navbar.sections.navbar_title.value}
	nav.Grid__nav.header__nav
		a.fontNav(href='/')
			| Accueil
		a.fontNav(href='/a-propos')
			| À propos
		a.fontNav(href='/acteurs-locaux')
			| Acteurs locaux
		a.fontNav(href='/blog')
			| Blog
		a.fontNav(href='mailto:'+pages._settings.sections.contact_email.value)
			| Contact
