extends layout
block content
	.separator_50
	.category_header.category_header__bon
		.AreaA Bon
		.AreaB Des producteurs aux petits oignons
	unless bon.length!==0
		h5 Vide pour le moment
	each item,index in bon
		+ actorLink(item)
	
	.separator_50
	.category_header.category_header__beau
		.AreaA Beau
		.AreaB Des artisants pleins de talent
	unless beau.length!==0
		h5 Vide pour le moment
	each item,index in beau
		+ actorLink(item)
		
	.separator_50
	.category_header.category_header__partager
		.fontCategoryTitle.AreaA Partager
		.fontCategoryText.AreaB Rencontrer, communiquer, apprendre
	unless partager.length!==0
		h5 Vide pour le moment
	each item,index in partager
		+ actorLink(item)
		
	//.separator_50
	//.category_header.category_header__actus
		.fontCategoryTitle.AreaA Actus
		.fontCategoryText.AreaB En ce moment en bauges
	//unless actus.length!==0
		h5 Vide pour le moment
	//each item,index in actus
		+ actorLink(item)
block scripts
	