mixin head()
	meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')
	
	meta(charset="UTF-8")
	
	link(rel='shortcut icon', href='https://res.cloudinary.com/misitioba/image/upload/v1537767994/incubadora_itinerante/logo.png', type='image/x-icon')
	
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
	
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
	link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet')

	
	link(rel="stylesheet", href="/css/styles.css")
				
mixin footer()
	footer
		.footer_bottom
			p.footer_quote.AreaA.fontFooter Bauges Local est une plateforme benevole et collaborative
			.footer_links.AreaC.fontFooter
				a(href='mailto:'+pages._settings.sections.contact_email.value) Contactez-nous !
		.footer_by.fontFooter
			a(href='https://incubadoraitinerante.com', target='_blank') Fait avec amour par Incubadora Itinerante
		
mixin commonScripts()
	script(src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', integrity='sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em', crossorigin='anonymous')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js")
	
	#script(src="/js/common.js")
	
	#script(src="https://apiba.wrapkend.com/js/client")

mixin mainQuote()
	.home_banner
		.home_banner__text.fontBanner !{pages.home.sections.header_message.value}
	section.LIRT
		.AreaB
			p.fontQuote
				//| La vallee des Bauges fourmille de richesses ! Des producteurs soucieux de preserver le gout des bonnes choses tout autant que les sols et les paysages, des artisants qui perpetuent et revisitent les savoir faire traditionnels, des points de rencontre pour apprendre et partager. Nous avons hate de vous faire decouvrir tout ca au travers de ces articles. Suivez le guide !
				| !{pages.home.sections.presentation_message.value}
mixin categoriesHorizontal()
	.home_categories
		a.AreaA(href='/acteurs-locaux')
			.category
				.AreaA Bon
				.AreaB Des producteurs aux petits oignons
		a.AreaB(href='/acteurs-locaux')
			.category
				.AreaA Beau
				.AreaB Des artisants pleins de talent
		a.AreaC(href='/acteurs-locaux')
			.category
				.AreaA Partager
				.AreaB Rencontrer, communiquer, apprendre
		a.AreaD(href='/acteurs-locaux')
			.category
				.AreaA Actus
				.AreaB En ce moment en bauges


mixin actorLink(item)
	a.actor_thumb__link(href=item.publicUrl)
		.actor_thumb
			.actor_thumb__name.fontActorThumbTitle=item.name
			.actor_thumb__activity.fontActorThumbText=item.activity	
				

mixin actorCard(item)
	.actor_card
		.actor_card__name
			h5=item.name
		.actor_card__activity=item.activity
		.actor_card__description=item.description
		.actor_card__address_formatted=item.address.formatted
		.actor_card__phone=item.phone
				
mixin searchPanel()
	section.sectionSearch
		.AreaA
			p.sectionSearch_title Que cherchez vous en Bauges ?
		.AreaB
			.inputIcon
				input.sectionSearch_input
				.icon
					i.fas.fa-search
		.AreaC.sectionSearch_hashs
			.sectionSearch_hashTag.small #boulanger
			.sectionSearch_hashTag.small #permaculture
			.sectionSearch_hashTag.small #plantes sauvages
			.sectionSearch_hashTag.big #poterie
			.sectionSearch_hashTag.small #souvenirs
			.sectionSearch_hashTag.medium #balades
			.sectionSearch_hashTag.medium #bio
			.sectionSearch_hashTag.medium #marche de producteur
			.sectionSearch_hashTag.medium #tomme des bauges
			.sectionSearch_hashTag.small #ail des ours
			
			
mixin googleAnalytics()
	script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-141538916-1')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-141538916-1');
