<p>
	Cela fait déjà 10 ans que ce projet à vu le jour et je me demande comment nous faisions avant ! Depuis sa naissance en 2009, l’épicerie Croc'Bauges a bien grandit et fait aujourd’hui partie du paysage.

</p>
<p>
	Ce magasin associatif est à la fois une épicerie biologique, un point de vente pour les producteurs locaux (bios ou non) et un lieu d’animation qui permet de faire ses courses en achetant des produits locaux et de qualité, de rencontrer les producteurs,
	d’apprendre à manger plus sainement ou encore de participer à des visites de ferme ou des repas collectifs.

</p>
<p>
	Pour les producteurs Bio de la région c’est une occasion de se faire connaître et la possibilité de monter des actions à plusieurs.

</p>
<p>
	Connaître les personnes qui nous nourrissent est une chance incroyable ! Savoir comment ils font pousser leurs légumes, dans quel champs les vaches ont paît ou quelle chèvres ont permis de faire le fromage, cela me semble à la fois extra (?) et si normal
	en même temps !

</p>
<p>
	Merci Croc'Bauges et continuons à soutenir l'association Biobauges pour que de plus en plus de personnes puissent profiter de cette épicerie à taille humaine !

</p>

<img src="/epicerie-bio-croq-bauges/croc-bauges-front.JPG">