.layout{
    display:grid;
    grid-template-columns: 230px 1fr;
}

body{
    margin:0px;
}

.sidebar li{
    cursor:pointer;
}
.sidebar li.active{
    font-weight: bold;
}

iframe{
    width:100%;
    border: 0px;
    outline: 2px dashed grey;
    height: calc(100vh);
}

.section{
    position: fixed;
    left:230px;
    width:calc(100vw - 230px);
    height:calc(100vh);
    top:0px;
    background-color:rgba(255,255,255,0.8);
}
.form{
    padding:20px;
}
.form label{
    font-size:18px;
}
.form textarea{
    width:100%;
    min-height: 50px;
}
.form input, .form textarea{
    border:0px;
    border-bottom: 2px solid grey;
}
.form input:active,.form input:focus,.form input:hover{
    outline:0px;
}
.form textarea:active,.form textarea:focus,.form textarea:hover{
    outline:0px;
}